.header {
  grid-area: header;
  display: grid;
  grid-template-areas:
    "nav lang"
    "search user";
  grid-template-columns: 1fr min-content;
  grid-template-rows: min-content min-content;

  img {
    cursor: pointer;
  }
  .search,
  .user {
    border-bottom: 0.5px solid var(--outline-color);
    border-right: 0.5px solid var(--outline-color);
    margin: 0.5px;
  }
  .nav {
    grid-area: nav;
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    padding: 1.125rem 2rem;
    align-items: center;
    border-bottom: 0.5px solid var(--outline-color);

    h1:nth-child(2) {
      margin-right: auto;
      text-decoration: none;
    }
    h1 {
      font-weight: 500;
      font-size: 1rem;
    }
    a {
      text-decoration: none;
    }
  }

  .language {
    grid-area: lang;
    display: flex;
    justify-content: end;
    gap: 2rem;
    width: 18.625rem;
    padding: 1.125rem 2rem;
    border-bottom: 0.5px solid var(--outline-color);

    h1 {
      font-weight: 500;
      font-size: 1rem;
    }
  }

  .search {
    grid-area: search;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 2rem;

    input,
    input::placeholder {
      border: none;
      font-size: 3rem;
      font-weight: 500;
      color: var(--outline-color);
      outline: none;
    }
    input {
      color: var(--dark-color);
    }
  }

  .user {
    grid-area: user;
    display: flex;
    justify-content: space-between;
    padding: 1.125rem 2rem;
    width: 18.625rem;
    .cart-container {
      position: relative;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      h4 {
        min-width: 1.75rem;
        position: absolute;
        right: 0;
        top: 0;
        font-weight: 600;
        font-size: 0.75rem;
        color: white;
        padding: 0.3rem 0.6rem;
        background-color: black;
        border-radius: 100%;
      }
    }
  }
}
