.content-landing {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 7rem 2rem;
  overflow: auto;

  .hero-title {
    font-family: "Cinzel", serif;
    font-size: 6rem;
    font-weight: 400;
    white-space: pre-wrap;
    transition: all 0.2s ease;
  }

  .hero-title-load {
    opacity: 0;
    transform: translateY(-2rem);
  }
  h2 {
    white-space: pre-wrap;
    font-weight: 300;
    line-height: 160%;
    font-size: 1.5rem;
  }

  .link {
    cursor: pointer;
    font-weight: 500;
    font-size: 1rem;
    width: max-content;
    padding: 1rem 1.5rem;
    margin-top: 4rem;
    text-decoration: none;
    color: white;
    background-color: var(--dark-color);
  }
  img {
    position: absolute;
    width: 25rem;
    z-index: -1;
    bottom: 0vh;
    right: 5%;
  }
}
@media screen and (max-width: 567px) {
  .content-landing > .hero-title {
    font-size: 3rem;
  }
}
@media screen and (max-height: 1224px) and (max-width: 1596px) {
  .content-landing img {
    bottom: -30vh;
  }
}
