.showcase {
  padding: 2rem 0rem 0rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  overflow: auto;

  .back {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0.7rem;

    h3 {
      font-size: 0.75rem;
      font-weight: 500;
    }
  }
  a {
    text-decoration: none;
  }

  .item {
    flex: 1;
    width: calc(100% - 19.625rem);
    display: flex;
    flex-direction: row;
    gap: 3.5rem;
    align-items: flex-start;
    justify-content: flex-start;

    #productImageShowcase {
      flex: 1;
      aspect-ratio: 1/1.26;
      object-fit: cover;
    }
    .productInfo {
      width: 60%;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      h1 {
        font-size: 2.2rem;
        font-weight: 500;
      }
      p {
        font-size: 1rem;
        font-weight: 400;
        line-height: 150%;
      }
      .space-between {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        h2 {
          font-size: 1.75rem;
          font-weight: 400;
        }
        .rating {
          padding: 3rem 0rem 1rem;
        }
      }
      .action {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 1.5rem;

        button {
          cursor: pointer;
        }
        button:last-child {
          color: var(--dark-color);
          background-color: white;
          border: 0.1rem solid var(--dark-color);
        }
      }
    }
  }
}
